.grid-container {
  display: grid;
  background-color: whitesmoke;
  gap: 5px;
}

/* Grid Container 1 */
.grid-container-1 {
  grid-template-columns: 20% 40% 40%;
}

/* Grid Container 2 */
.grid-container-2 {
  height: 400px;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-rows: 25% 75%;
}

/* use height: 400px; on the container */

/* Grid Container 3 */
.grid-container-3 {
  height: 400px;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 20% 40% 40%;
}
.grid-container-3 .item8 {
  grid-column: span 2;
}

/* use height: 400px; on the container */

/* Grid Container 4 */
.grid-container-4 {
  height: 600px;
  grid-template-columns: 33% 67%;
  grid-template-rows: 20% 20% 20% 20% 20;
}
.grid-container-4 .item1 {
  grid-row: span 2;
}

.grid-container-4 .item6 {
  grid-column: span 2;
}

/* use height: 600px; on the container */
